@import 'public';
//头
header{
    width:$width;
    height:36px;
    border:1px solid #e5e5e5;
    background:#f5f5f5;
    margin:$margin;
}
//左侧栏
.left{
    height:36px;
    width:500px;
    float:left;
}
.left li{
    float:left;
    margin-left:13px;
    font-size:14px;
    line-height:36px;
}
.right{
    height:36px;
    width:700px;
    float:left;
}
.right ul li{
    margin-left:40px;
    margin-right:5px;
    font-size:14px;
    width:80px;
    float:right;
    text-align:center;
    line-height:36px;
}
.right-div {
    display:none;
    position: relative;
}
.right-div div{
    position:absolute;
    z-index:100;
    left:8px;
}
.right-div div:nth-of-type(2){
    top:20px;
}
.right-div div:nth-of-type(3){
    top:40px;
}

.right li:hover .right-div {
    display:block;
    border:1px solid #e5e5e5;
    background:#ffffff;
}
.right-nav{
    height:330px;
    background:#ffffff;
    width:$width;
}
.right-nav {
    display:none;
}
.right li:hover .right-nav {
    display:block;
    border:1px solid #e5e5e5;
    background:#ffffff;
    position:absolute;
    left:72px;
}
.right-nav h3 .a{
    color:slateblue;
}
.rt-nav-1,.rt-nav-2,.rt-nav-3,.rt-nav-4{
    float:left;
    height:300px;
}
.rt-nav-1{
    width:600px;
    border-right:1px solid silver
}
.rt-nav-2{
    width:200px;
    border-right:1px solid silver
}
.rt-nav-3{
    width:205px;
    border-right:1px solid silver
}
.rt-nav-4{
    width:206px;
   
}
.rt-nav-1 p a{
    margin-left:20px;
    margin-right:20px;
    font-size:12px;
}
.rt-nav-2 p a{
    margin-left:4px;
    margin-right:4px;
    font-size:12px;
}
.rt-nav-1 p a:hover {
    background:blue;
    color:#ffffff;
}
//2 右侧
.blend{
    margin-left:73px;
}
.blend-lt{
    width:251px;
    float:left;
}
.blend-me{
    width:622px;
    float:left;
    padding-top:34px;
}
#txt{
    width:448px;
    height:38px;
    border:1px solid #2496d5;
}
#btn{
    height:40px;
    width:100px;
    color:#fff;
    background:#2496d5;
    font-size:16px; 
}
#btn span{
    font-size:13px;
}
.bd-me-ul-1{
    width:300px;
}
.bd-me-ul-1 li{
    float:left;
    margin:2px 2px;
    width:55px;
}
.blend-rt{
    width:339px;
    float:left;
}
.blend-rt p{
    display:inline-block;
    width:100px;
    height:27px;
    border:1px solid silver;
    margin-left:2px;
    margin-right:2px;
    margin-top:40px;
}
.blend-rt p a{
    padding-left:10px;
    line-height:27px;
}
.blend-lt p:nth-of-type(1) a{
    color:#2496d5;
    font-size:51px;
}
.blend-lt span{
    font-size:13px;
    color:#3f9941;
}
.blend-lt a p{
    color:#2496d5;
}
//导航
.nav{
    background:#1369c0;
    width:100%;
}
.nav ul{
    margin:$margin;
    width:$width;
}
.nav ul li{
    float:left;
    width:89px;
    height:40px;
    background:#0f54b3;
    line-height:40px;
    text-align: center;
}
.nav li a{
    color:#fff;
}
.nav li:nth-of-type(1){
    width:138px;
}
.nav li:nth-of-type(6){
    width:209px;
    padding-left:512px;
    line-height:20px;
    
}
.nav li:nth-of-type(6) a{
    color:#babe6a;
}
//内容左侧
.content aside{
    width:182px;
    height:1453px;
    border:1px solid #e5e5e5;
   // background:red;
    padding-left:70px;
    float:left;
}
.content aside .p{
    background:#e8e8e8;
    height:43px;
    text-align:center;
    line-height:43px;
}
.solid{
  background:#fff;
  color:#e5e5e5;

}
.content .p-3{
    background:#e8e8e8;
    height:36px;
    text-align:center;
    line-height:43px;
}
aside ul li{
    height:253px;
}
aside span{
    color:red;
}
//内容右侧
.content section{
    width:1033px;
    height:1800px;
   // background:sienna;
    float:left;
    padding-top:50px;
}
.content .row .col-md-3{
  float:left;
  margin-left:20px;
  margin-right:20px;
  height:280px;
  width:210px;
  margin-bottom:40px;
}
.col-md-3:hover {
    border:1px solid #e5e5e5;
}
.col-md-3:hover .p{
    height:80px;
   
}
.col-md-3 .p{
    overflow:hidden;
    width:210px;
    height:20px;
}
.col-md-3 .p:hover{
    color:red; 
}
.col-md-3 .p-pt{
    width:60px;
    height:20px;
    background:red;

}
//脚
.status{
    width:100%;
    height:277px;
    background:#f4f4f4;
    border-top:2px solid #2496d5;
}
.mack{
   margin:$margin; 
}
.status dl{
    float:left;
    width:171px;
    height:84px;
    padding-left:50px;
}
.status dl dt{
    font-size:20px;
    color:#000;
}
.status dl dd{
    line-height:30px;
}
.status .ft li p{
    line-height:30px;
}
.ft li{
    float:left;
    width:180px;
    height:247px;
    padding-top:30px;
}
.ft li p{
    margin-bottom:5px;
}
.p-1{
    font-weight: bold;
}
.p-2{
    color:#2496d5;
}
.p-3{
    color:#2496d5;
}
.ft p i{
    color:#2496d5;

}
.footer-fr{
    width:100%;
    height:225px;
    padding-top:20px;
}
.footer-fr p{
    color:#000;
    text-align:center;
    line-height:30px;
    
}
.footer-fr div{
    margin-left:420px;
    width:$width;
}
.footer-fr img{
    float:left;
}